page-barresult {
h3 {
    background-color:  #3856a6 !important;
    margin: 0px;
    padding: 5px;
    color:white;
    
}

// background-color: #f6882d!important;
.item-md{
   
 height: 30px !important;
}
p{
    padding-left: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}
.label-md{
margin:5px;
}
#cart-btn{
    color:white;
}
ion-list{

    margin-top: 100px;
}
h3{
margin:0px;
background-color: #3953a1;
color:white;
padding: 10px;
}
}
