page-customerviewassetsdetails {
    ul
    {
        width: 100%;
        border:1px gray solid;
        border-radius: 20px;
        background-color:#3a54a3;
        color: white;
       
        border: 1px solid black;
        
        
       
      
    }
    li{
        list-style-type: disc;
     
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        font-size: 20px;
    }
    .item{
        border:1px gray solid;
        margin-bottom: 5px;
        }
        p{
            display: inline;
            font-size: 12px !important;
            padding: 1px;
            color: white !important;
            font-weight: bold;
            font-style:bold;

        }
        .card-md{
            background: transparent;
            border-radius: 20px;
            padding: 5px;
        }
        .down{
            width: 100%;
            border:1px gray solid;
            border-radius: 20px;
            background-color:red;
            color: white;
           
            border: 1px solid black;
        }
        b{
            font-size: 14px;
        }
}
