<!--
  Generated template for the EdittaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header">
    <ion-title>Edit Task    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

    <h4 text-center style="background-color:#477fe8;color:white">Basic Tab</h4>  


  <ion-card>
    <ion-item>
      <ion-label>Site<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="siteId" disabled>
        <ion-option *ngFor="let item of siteData" value="{{item.SiteId}}" (ionSelect)="onSiteChange(item.SiteId)">{{item.Site}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-label>Equipment<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="EquipmentId" disabled>
        <ion-option *ngFor="let item of equipment" value="{{item.EqpPlanId}}">{{item.EqpPlan}}</ion-option>

      </ion-select>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Description<span style="color:red">*</span></ion-label>
      <ion-textarea name="description" [(ngModel)]="Description"></ion-textarea>
    </ion-item>

  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Component code<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="Componentcode" disabled>
        <ion-option *ngFor="let item of ComponentArr" value="{{item.ComponentCodeID}}">{{item.Desc_Code}}</ion-option>

      </ion-select>
   
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-label>Modifier code<span style="color:red">*</span></ion-label>
    
      <ion-select [(ngModel)]="Modifiercode" disabled>
        <ion-option *ngFor="let item of modifierCodeArr" value="{{item.ModifierID}}">{{item.Desc_Code}}</ion-option>

      </ion-select>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Task type<span style="color:red">*</span></ion-label>
   
      <ion-select [(ngModel)]="Tasktype" disabled>
        <ion-option *ngFor="let item of taskTypearr" value="{{item.TaskTypeID}}">{{item.Desc_Code}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-label>Task Counter<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="taskcounter"  disabled>
        <ion-option *ngFor="let item of taskCounterArr" value="{{item.ApplicationCodeID}}">{{item.Desc_Code}}</ion-option>
      </ion-select>
    </ion-item>
     
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Priority<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="priorityid">
        <ion-option *ngFor="let item of priorityarr" value="{{item.Priority_ID}}">{{item.Description}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>

    <ion-item>
      <ion-label>Date Notified</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Date_Notified"></ion-datetime>
    </ion-item>
  </ion-card>

  <!-- <ion-card>
    <ion-item>
      <ion-label>Status<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="Task_Status_ID">
        <ion-option *ngFor="let item of Statusarr" value="{{item.Task_Status_ID}}">{{item.Description}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-card> -->
  <ion-card>
    <ion-item>
      <ion-label>Source<span style="color:red">*</span></ion-label>
         <ion-select [(ngModel)]="sourceId">
        <ion-option *ngFor="let item of sourceGetarr" value="{{item.Source_ID}}">{{item.Description}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Raised By<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="RaisedByID">
        <ion-option *ngFor="let item of SiftincArr" value="{{item.Employee_ID}}">{{item.Desc_Code}}</ion-option>

      </ion-select>
     
    </ion-item>
  </ion-card>
     <h4 text-center style="background-color:#477fe8;color:white">Operations</h4>  


  <ion-card>
    <ion-item>
      <ion-label>Operations<span style="color:red">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="Task_Operation"></ion-input>
    </ion-item>
  </ion-card>
  <!-- <ion-card>
    <ion-item>
      <ion-label>Attchment</ion-label>
      <ion-input type="file" value=""></ion-input>
    </ion-item>
  </ion-card> -->
  <ion-card>
    <ion-item>
      <ion-label>Estimated Total Durations</ion-label>
      <ion-input type="text" [(ngModel)]="Expected_Duration"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Estimated Labour Qty<span style="color:red">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="Labour_Qty"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Estimated Labour Hrs<span style="color:red">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="Expected_Labor_Hours"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>WorkOrder Number</ion-label>
      <ion-input type="text" disabled [(ngModel)]="Work_Order"></ion-input>
    </ion-item>
  </ion-card>
  <h4 text-center style="background-color:#477fe8;color:white">Feedback</h4>  
  <ion-card>
    <ion-item>
      <ion-label>Symptom<span style="color:red">*</span></ion-label>

      <ion-select [(ngModel)]="Symptom_ID">
        <ion-option *ngFor="let item of symptomgetArr" value="{{item.Symptom_ID}}">{{item.Description}}</ion-option>

      </ion-select>


    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-label>Cause<span style="color:red">*</span></ion-label>

      <ion-select [(ngModel)]="Cause_ID">
        <ion-option *ngFor="let item of CauseArr" value="{{item.Cause_ID}}">{{item.Description}}</ion-option>

      </ion-select>

    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Job code<span style="color:red">*</span></ion-label>


      <ion-select [(ngModel)]="JobCode_id">
        <ion-option *ngFor="let item of JobCodeArr" value="{{item.JobCodeID}}">{{item.Description}}</ion-option>

      </ion-select>

    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label floating>Repair description</ion-label>
      <ion-input type="text" [(ngModel)]="repairDesc"></ion-input>
    </ion-item>
  </ion-card>
  <ion-row *ngIf="imgarrTask">
    <h4 text-center style="background-color:#477fe8;color:white">Attachments</h4> 
    <ion-col col-6 *ngFor="let item of imgarrTask" (click)="imageclick(item.file)">
      <img src="{{item.file}}">

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-card>

      <ion-item no-lines >
        <span> Image 1</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imageone')">
          <ion-icon color=dark name="ios-camera"></ion-icon>
        </button>
        <img *ngIf="imageURIShop" [src]="imageURIShop" height="150" width="150" (click)="imageView(imageURIShop)"/>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="imageURIShop">
  
      <ion-item no-lines >
        <span> Image 2</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagetwo')">
          <ion-icon color=dark name="ios-camera"></ion-icon>
        </button>
        <img *ngIf="imageURIShop2" [src]="imageURIShop2" height="150" width="150" (click)="imageView(imageURIShop2)"/>
      </ion-item>
    </ion-card>
  
    <ion-card *ngIf="imageURIShop2">
  
      <ion-item no-lines >
        <span> Image 3</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagethree')">
          <ion-icon color=dark name="ios-camera"></ion-icon>
        </button>
        <img *ngIf="imageURIShop3" [src]="imageURIShop3" height="150" width="150" (click)="imageView(imageURIShop3)"/>
      </ion-item>
    </ion-card>
  
    <ion-card *ngIf="imageURIShop3">
  
      <ion-item no-lines >
        <span> Image 4</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagefour')">
          <ion-icon color=dark name="ios-camera"></ion-icon>
        </button>
        <img *ngIf="imageURIShop4" [src]="imageURIShop4" height="150" width="150" (click)="imageView(imageURIShop4)"/>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="imageURIShop4">
      <ion-item no-lines >
        <span> Image 5</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagefive')">
          <ion-icon color=dark name="ios-camera"></ion-icon>
        </button>
        <img *ngIf="imageURIShop5" [src]="imageURIShop5" height="150" width="150" (click)="imageView(imageURIShop5)"/>
      </ion-item>
    </ion-card>
  </ion-row>

  <ion-row>

    <p style="background-color:#477fe8">Parts</p>
    
    <ion-card>
        <ion-row>


            <ion-col col-10 no-padding>
                <ion-input type="text" placeholder="Search Parts" [(ngModel)]="SearchValue"></ion-input>
            </ion-col>
            <ion-col col-2 text-right no-padding (click)="getItems(SearchValue)" class="brk">
                <button ion-button icon-only color="dark" full>
                    <ion-icon name="search"></ion-icon>
                </button>

            </ion-col>
        </ion-row>
    </ion-card>
    <ion-list radio-group [(ngModel)]="rmchecked" *ngIf="partsarr" class="subha">
        <div *ngIf="partsbool===true">
            <!-- <div style="height:150px; overflow:scroll" > -->
                <div  >
                <ion-item *ngFor="let item of partsarr">
                    <ion-label>{{item.Desc_Code}}</ion-label>
                    <ion-radio value="{{item.PartId}}" (ionSelect)="mcqAnswer(item.PartId,item.Desc_Code,item)"></ion-radio>
                </ion-item>
            </div>
        </div>
      
        <ion-item no-padding >
                <div *ngFor="let item of partsarrget;let i=index" >
     
            <ion-row padding col-12>
                <ion-col col-1 >
                   {{i+1}}:
                </ion-col>
                <ion-col col-9 no-padding>
                {{item.name}} 
                  <!-- {{item.name}} -->
                </ion-col>
                <ion-col col-2 no-padding>
                    <ion-item  id="df" no-lines no-margin no-padding>
                        <ion-input type="tel" placeholder="QTY" [(ngModel)]="item.qt"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
        </ion-item>
    
       
      
    </ion-list>


 
  </ion-row>
  <div text-center>
    
    <ion-buttons (click)="submit()" *ngIf="Task_Status_IDget!='3'" color="secondary">
      <button ion-button round color="secondary">
        Submit
      </button>
    </ion-buttons>

  </div>
</ion-content>