page-barchat {
    .popover-content{
        top:0px !important
    }
    .temp{
        top:10;
        width: 80%;
        height: 25px;
        background-color: rgb(255, 255, 255);
        position: absolute; 
    }
}
