<!--
  Generated template for the BasictabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header">
    <ion-title> Create Basic Tab</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
           <ion-col col-6 text-center >
            <button (click)="view()" ion-button  color="whit" style="color:#f6882d" full>View/Edit</button>
      </ion-col>
      <ion-col col-6 text-center >
        <button  ion-button color="selectbutton" full>Create</button>
      </ion-col>
    </ion-row>
    </ion-grid>
  <p> Basic Tab</p>
  <ion-card>
    <ion-item>
      <ion-label>Site<span style="color:red">*</span></ion-label>
      <ion-select>
        <ion-option *ngFor="let item of siteData" value="{{item.SiteId}}" (ionSelect)="onSiteChange(item.SiteId)">
          {{item.Site}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Equipment<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="EquipmentId" [items]="equipment" itemValueField="EqpPlanId"
        itemTextField="EqpPlan" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Description<span style="color:red">*</span></ion-label>
      <ion-textarea name="description" [(ngModel)]="description"></ion-textarea>
    </ion-item>

  </ion-card>

  <ion-card>


  
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" placeholder="Enter Component name*" [(ngModel)]="SearchValueCompontent"></ion-input>
        </ion-col>
        <ion-col col-2 text-center (click)="getComponent(SearchValue)">
          <button ion-button icon-only color=dark>
              <!-- <ion-spinner color="light" ></ion-spinner> -->
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
   
    <ion-list radio-group  (onChange)="datagetnewo(rmchecked)">
     <div style="height:150px;overflow:scroll" *ngIf="booleamcom===true">
      <ion-item *ngFor="let item of ComponentArr">
        <ion-label>{{item.Desc_Code}}</ion-label>
        <ion-radio value="{{item.ComponentCodeID}}" (ionSelect)="comselect(item.ComponentCodeID)"></ion-radio>
      </ion-item>
     </div>
   
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Modifier code<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="Modifiercode" [items]="modifierCodeArr" itemValueField="ModifierID"
        itemTextField="Desc_Code" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Task type<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="Tasktype" [items]="taskTypearr" itemValueField="TaskTypeID"
        itemTextField="Desc_Code" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Task Counter<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="TaskCounter" [items]="ports" itemValueField="ApplicationCodeID"
        itemTextField="Desc_Code" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Priority<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="priority">
        <ion-option *ngFor="let item of priorityGet" value="{{item.Priority_ID}}">{{item.Description}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>

    <ion-item>
      <ion-label>Date Notified</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="uptime"></ion-datetime>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Estimated Total duration hrs<span style="color:red">*</span></ion-label>
      <ion-input type="tel" [(ngModel)]="EstimatedTotaldurationhrs"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Estimated labour qty<span style="color:red">*</span></ion-label>
      <ion-input type="tel" [(ngModel)]="Estimatedlabourqty"></ion-input>

    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label floating>Estimated labour hrs<span style="color:red">*</span></ion-label>
      <ion-input type="tel" [(ngModel)]="Estimatedlabourhrs"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
      <ion-item>
        <ion-label>Raised By<span style="color:red">*</span></ion-label>
        <select-searchable item-content [(ngModel)]="raisedBy" [items]="SiftincArr" itemValueField="Employee_ID"
          itemTextField="Desc_Code" [canSearch]="true">
        </select-searchable>
      </ion-item>
    </ion-card>
  <p>Parts </p>
       

  <ion-card>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Enter Parts keyword" [(ngModel)]="SearchValue"></ion-input>
      </ion-col>
      <ion-col col-2 text-center (click)="getItems(SearchValue)">
        <button ion-button icon-only color=dark>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list radio-group [(ngModel)]="rmchecked" (onChange)="datagetnew(rmchecked)">
    <ion-list-header *ngIf="partsarr">
      Parts
    </ion-list-header>
    <ion-item>
      <div *ngFor="let item of partsarrget" style="background-color:rgb(98, 190, 138)">
        <ion-row>
          <ion-col col-10>
            {{item.name}}
          </ion-col>
          <ion-col col-2>
            <ion-item no-padding id="df" no-lines>
              <ion-input type="tel" [(ngModel)]="item.qt"></ion-input>
            </ion-item>
            <!-- <ion-input type="text" [(ngModel)]="item.qt"></ion-input> -->
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
    <div style="height:150px;overflow:scroll" *ngIf="partsbool===true">
      <ion-item *ngFor="let item of partsarr">
        <ion-label>{{item.Desc_Code}}</ion-label>
        <ion-radio value="{{item.PartId}}" (ionSelect)="mcqAnswer(item.PartId,item.Desc_Code)"></ion-radio>
      </ion-item>
    </div>
   
  </ion-list>
  <p>Feedback </p>
  <ion-card>
    <ion-item>
      <ion-label>Source<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="sourceId" [items]="sourceGetarr" itemValueField="Source_ID"
        itemTextField="Description" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>
  <!-- <ion-card>
    <ion-item>
      <ion-label>Raised By<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="raisedBy" [items]="SiftincArr" itemValueField="Employee_ID"
        itemTextField="Desc_Code" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card> -->
  <ion-card>
    <ion-item>
      <ion-label>Symptom<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="Symptom" [items]="symptomgetArr" itemValueField="Symptom_ID"
        itemTextField="Description" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Cause<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="Cause" [items]="CauseArr" itemValueField="Cause_ID"
        itemTextField="Description" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Job code<span style="color:red">*</span></ion-label>
      <select-searchable item-content [(ngModel)]="JobCode" [items]="JobCodeArr" itemValueField="JobCodeID"
        itemTextField="Description" [canSearch]="true">
      </select-searchable>
    </ion-item>
  </ion-card>


  <ion-card>

    <ion-item no-lines >
      <span> Image 1</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imageone')">
        <ion-icon color=dark name="ios-camera"></ion-icon>
      </button>
      <img *ngIf="imageURIShop" [src]="imageURIShop" height="150" width="150" (click)="imageView(imageURIShop)"/>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="imageURIShop">

    <ion-item no-lines >
      <span> Image 2</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagetwo')">
        <ion-icon color=dark name="ios-camera"></ion-icon>
      </button>
      <img *ngIf="imageURIShop2" [src]="imageURIShop2" height="150" width="150" (click)="imageView(imageURIShop2)"/>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="imageURIShop2">

    <ion-item no-lines >
      <span> Image 3</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagethree')">
        <ion-icon color=dark name="ios-camera"></ion-icon>
      </button>
      <img *ngIf="imageURIShop3" [src]="imageURIShop3" height="150" width="150" (click)="imageView(imageURIShop3)"/>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="imageURIShop3">

    <ion-item no-lines >
      <span> Image 4</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagefour')">
        <ion-icon color=dark name="ios-camera"></ion-icon>
      </button>
      <img *ngIf="imageURIShop4" [src]="imageURIShop4" height="150" width="150" (click)="imageView(imageURIShop4)"/>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="imageURIShop4">
    <ion-item no-lines >
      <span> Image 5</span> <button id="btn" ion-button icon-only clear item-end (click)="openImages('imagefive')">
        <ion-icon color=dark name="ios-camera"></ion-icon>
      </button>
      <img *ngIf="imageURIShop5" [src]="imageURIShop5" height="150" width="150" (click)="imageView(imageURIShop5)"/>
    </ion-item>
  </ion-card>

  <div text-center>

   
      <ion-buttons (click)="submit()">
        <button ion-button round color="secondary">
          Submit
        </button>
      </ion-buttons>

   
  </div>
</ion-content>