page-dashboard {

 
        
        

    .list-header-md {
        padding-left: 16px;
        margin-bottom: 2px !important;
        min-height: 4.5rem;
        border-top: 1px solid #dedede;
        font-size: 15px;
        color: rgb(235, 225, 225);
        background-color: #f6882d!important;
    }
    ion-item{
        background-color: rgb(237, 241, 241) !important;
        color:rgb(41, 38, 38)!important;
       
    }
    .item-md{
        margin-bottom: 5px;
        -webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.164);
        box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.171);
    }
    }
    

