<ion-header>
  <ion-navbar  color="header">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Submitted Checklist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card  class="colorlist" *ngFor="let item of listData">
                
              
            
    <ion-item  color="listsky">
        <p >Equipment:<span style="margin-left:5px;"> <b>{{item.equipment}}</b></span> </p>
        <p>Site:<span style="margin-left:5px;"> <b>{{item.site}}</b></span> </p>
        <p >Checklist: <span style="margin-left:5px;"> <b>{{item.chk_name}}</b> </span></p>
        <p >Submitted by: <span style="margin-left:5px;"> <b>{{item.engineer}}</b> </span></p>
        <p >Date: <span style="margin-left:5px;"> <b>{{item.answer_dated_on}}</b> </span>
  
   </ion-item>
   
  <ion-item text-center   color="listsky">
     
     <button ion-button color="light" (click)="details(item)" item-end  >View Details</button>
     <button ion-button color="danger" (click)="delete(item)" item-end  *ngIf="userType=='Maintenance Manager'" >Delete</button>
     </ion-item> 
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading your leads..." *ngIf="pagingEnabled"></ion-infinite-scroll-content>
</ion-infinite-scroll> 
<div *ngIf="!pagingEnabled"> No more data is available.</div>
</ion-content>
