page-home {

    .logo{
        width: 80%;
         height: 25px;
         object-fit: contain;
       background-color: white;
       padding: 2px;
    }
   
     .slider{
         
         border-radius: 20px;
         margin-top: 3px;
         
       //   border-bottom:5px solid #e6710d;
       //   border-top: #42ad4d 5px solid;
         
         width: 100%;
   
     }
     .imgs{
         border-radius: 10px;
     }
     h2{
         font-size: 15px;
         margin-top: 2px;
         font-family: Georgia;
         color:black;
         font-weight: 900;
     }
     .icon2{
         height: 70px;
         width: 70px;
        
         padding: 4px;
        //  border-radius: 100%;
        //  border-bottom:5px solid #ff5f00 ;
        //  border-top: #00d700 5px solid;
     }
     @media (min-width: 768px) and (max-width: 1024px) {
        .baner{
            height: 400px;
            width: 100%;
           
            
        }
      }
   
     ion-row{
         margin-top: 4%;
     }
     .colm{
    //    border: 1px solid rgb(218, 214, 214);
       -webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.13);
       -moz-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.164);
       box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.171);
       padding: 8px;
       border-radius: 5px;
       background-color:rgb(255, 255, 255);
      
       
        
        
   }
   // .col{
   //     margin-top: 1%;
   // }
   .amt{
       width: 100%;
       padding: 8px;
       // border:3px solid #00d700; 
        background-color: #3856a6;
      
       // border-radius: 20px;
       // box-shadow:0px 0px 3px 3px #f6892d;
       color:white !important;
       font-weight: bold;
       margin-top: 0px;
       
       
     
      
   }
   ion-row{
       margin-top: 1px;
       padding: 0px;
   }
   P{
       
   
       font-size: 20px;
       margin-top: 0px;
       margin-bottom: 0px;
    //    -webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.4);
    //    -moz-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.4);
    //    box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.4);
   }
   .scroll-content{
       opacity: 0.9;
   } 
   ion-col {
       margin-bottom: 2px;
   }
   ion-icon {
       color: #3e57a3;
   }

   #cart-btn {
    position: relative;
    overflow: visible!important;
 }
 #cart-badge {
  background-color: rgba(240, 8, 8, 0.64);
  position: absolute;
  top: -3px;
  right: 3px;
  color: #ffffff;
  border-radius: 46%;
 }
   }
   