page-settings {
     

    .list-header-md {
        padding-left: 16px;
        margin-bottom: 2px !important;
        min-height: 4.5rem;
        border-top: 1px solid #dedede;
        font-size: 15px;
        color: rgb(235, 225, 225);
        background-color: #f6882d!important;
    }
    ion-item{
        background-color: rgb(237, 241, 241) !important;
        color:rgb(41, 38, 38)!important;
       
    }
 
}
