<ion-menu [content]="content" persistent="true">
  <ion-header>
   <img src="assets/imgs/headernew.jpg">
  </ion-header>

  <ion-content class="my-menu">

      <ion-list no-lines>
        
        <ion-item  (click)="openPage('home')" menuClose id="cool">
          <ion-avatar item-start>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5Sd6kPUaHaKIXYxRmcZkXgYaDWro_kmIr2sKnjvFaFgfqWIaN">
          </ion-avatar>
          <h2>Home</h2>
       
        </ion-item>
        <ion-item *ngFor="let p of pages" (click)="openPage(p)" menuClose id="cool">
            <ion-avatar item-start>
              <img src="{{p.image}}">
            </ion-avatar>
            <h2>{{p.name}}</h2>
         
          </ion-item>
        </ion-list>
    <!-- <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        &nbsp;&nbsp;<img src="{{p.image}}"/> &nbsp;&nbsp;{{ p.name }}
      </button>
      <button menuClose ion-item (click)="logout()">
        &nbsp;&nbsp;<ion-icon  name="ios-exit-outline"></ion-icon> &nbsp;&nbsp;Log Out
      </button>
    </ion-list> -->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

