page-taskdetails {
    ion-content{
        background-image: url(../assets/imgs/back.jpg);
        background-size: cover;
        object-fit: contain;
        overflow: hidden;
        background-repeat: no-repeat;
        
    }
    ion-card{
        opacity: 0.9;
        // background-color: #3956a6 !important;
        padding: 5px;
    }
    p{
        color: white !important;
        padding: 2px;
        font-size: 15px;
    }
}
