page-backlogline {
    .chartjs-render-monitor{
        background: #ffffff;  /* fallback for old browsers */
        // background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  
        // background: linear-gradient(to right, #ffffff, #fffc00); 
        margin-left: auto;
        margin-right: auto;
    }


    /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    //CSS
    .new{
        text-align: center !important;
        width: 700px !important;
        height: 500px !important;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }
.rowd{
    width: 100%;
}

}
