page-eventdetails {
    .item{
        border:1px gray solid;
        margin-bottom: 5px;
        }
        p{
            // display: inline;
            // font-size: 11px !important;
            // padding: 1px;
            // color: white !important;
            // font-weight: bold;
            // font-style:bold;

        }
        .card-md{
            background: transparent;
            // border-radius: 20px;
            // padding: 5px;
        }
        b{
            // font-size: 14px !important;
        }
}
