<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-list>
  <h3 text-center>Select Time</h3>
  <ion-row radio-group [(ngModel)]="month">

  
    <ion-item *ngIf="passdata[1].tabularlastmonth !=0">
        <ion-label>Last Month</ion-label>
        <ion-radio value="lm" slot="end" checked></ion-radio>
    </ion-item>
    <ion-item *ngIf="passdata[0].currentmonth !=0">
        <ion-label>MTD</ion-label>
        <ion-radio value="mtd" slot="end"></ion-radio>
    </ion-item>
    <ion-item *ngIf="passdata[2].TabularLast3Month !=0">
        <ion-label>Last 3 Months</ion-label>
        <ion-radio value="three" slot="end"></ion-radio>
    </ion-item> 
    <ion-item *ngIf="passdata[3].TabularLast6Month !=0">
        <ion-label>Last 6 Months</ion-label>
        <ion-radio value="six" slot="end"></ion-radio>
    </ion-item>

  </ion-row> 

  <h3 text-center>Analysis By</h3>
  <ion-row radio-group [(ngModel)]="analysis">

  
    <ion-item>
        <ion-label>Branch</ion-label>
        <ion-radio value="branch" slot="end" checked></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Site</ion-label>
        <ion-radio value="site" slot="end"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Fleet</ion-label>
        <ion-radio value="fleet" slot="end"></ion-radio>
    </ion-item> 
    <ion-item>
        <ion-label>All</ion-label>
        <ion-radio value="all" slot="end"></ion-radio>
    </ion-item>
   
  </ion-row> 
 
  <div text-center>
      <button ion-button round color="secondary" (click)="kpiSubmit()">
          Submit
      </button>
  </div>
  
</ion-list>

